### 1. Write a Python program to convert kilometers to miles

In [3]:
km = float(input("Enter number of kilometers: "))

miles = km / 1.609
print(km,"kilometers = ",miles,"miles")

Enter number of kilometers: 1
1.0 kilometers =  0.6215040397762586 miles

### 2. Write a Python program to convert Celsius to Fahrenheit

In [4]:
celsius = float(input("Enter temperature in Celsius: "))

fahrenheit = celsius * (9/5) + 32
print(celsius,"celsius = ",fahrenheit,"fahrenheit")

Enter temperature in Celsius: 1
1.0 celsius =  33.8 fahrenheit

### 3. Write a Python program to display calendar

In [21]:
import calendar

def display_calendar(year, month):
    print(calendar.month(year, month))
    
year = int(input("Enter Year: "))
month = int(input("Enter month (1-12): "))
display_calendar(year, month)

Enter Year: 2024
Enter month (1-12): 8
    August 2024
Mo Tu We Th Fr Sa Su
          1  2  3  4
 5  6  7  8  9 10 11
12 13 14 15 16 17 18
19 20 21 22 23 24 25
26 27 28 29 30 31

### 4. Write a Python program to swap two variables without temp variable

In [13]:
a=10
b=20

# a=a+b
# b=a-b
# a=a-b

a,b = b,a  #tuple unpacking

# a=a^b
# b=a^b
# a=a^b

print(a)
print(b)

20
10

### 5. Write * pattern program.

In [20]:
n = int(input("enter number of rows: "))
for i in range(1,n+1):
    print('*'*i)

enter number of rows: 5
*
**
***
****
*****